@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This project is created for discovering .NET packages for working with pdf documents. Author of this project is student of final year of
    Faculty of Organizational Science, University of Belgrade Luka Radovanovic. Project is created for subject "Selected Chapters from Information Systems", and 
    in future as part of thesis.
</p>
